<div class="container-index">
  <div class= "cards">
    <% @bookings.each do |booking| %>
      <%= link_to booking_path(booking) do %>
        <div class="card">
          <h3><%= "Booking with #{booking.alien.name}" %></h3>
          <h3><%= "Start date: #{booking.appointment_start_date.strftime("%d-%m-%Y")}" %></h3>
          <h3><%= "End date: #{booking.appointment_end_date.strftime("%d-%m-%Y")}" %></h3>
          <h3><%= "Created: #{booking.created_at.strftime("%d-%m-%Y")}" %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
