<div class="container-index">
  <div class= "cards">
    <% @aliens.each do |alien| %>
      <%= link_to alien_path(alien) do %>
        <div class="card">
          <h3>Name: <%= alien.name %></h3>
          <h3>Species: <%= alien.species %></h3>
          <h3>Planet of Origin: <%= alien.planet %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Create a new Alien?", new_alien_path %>

