<div class="row mt-5">
  <div class="col-6 offset-3">
      <div class="mt-5 mb-5 form">
        <%= simple_form_for(@alien) do |f| %>
          <%= f.input :name %>
          <%= f.input :species %>
          <%= f.input :planet %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
      <% end %>
      </div>
    <%= link_to "List of our Aliens", aliens_path, class:"form_link" %>
  </div>
</div>
