
<div class="container-show">
  <h3><%= @alien.species %></h3>
  <h3> <%= @alien.planet %></h3>
  <% if @alien.photo.attached? %>
    <%= cl_image_tag @alien.photo.key, height: 300, width: 300, crop: :fit  %>
    <% else %>
    <%= image_tag "alien.png", alt: "Placeholder image", height: 300, width: 300, crop: :fit  %>
    <% end %>
  <br>
  <%= link_to "Remove Alien",
                  alien_path(@alien),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>

</div>

<hr>

<%=  link_to "Back to Aliens", aliens_path %>
<p><%= link_to "Book", new_alien_booking_path(@alien, @booking) %></p>
<!-- destroy alien -->
